// transition name="fade"
.#{$namespace}-fade-enter-from,
.#{$namespace}-fade-leave-to {
  opacity: 0;
}
.#{$namespace}-fade-enter-active,
.#{$namespace}-fade-leave-active {
  transition: opacity 0.3s cubic-bezier(0.55, 0, 0.1, 1);
}
.#{$namespace}-fade-enter-to,
.#{$namespace}-fade-leave-from {
  opacity: 1;
}
