* {
  margin: 0;
  padding: 0;
}

html,
body {
  height: 100%;
}

body {
  background: repeating-linear-gradient(45deg, black, transparent 100px);
}

#app {
  position: relative;
  margin: auto;
  top: 10%;
  width: 80%;
  height: 80%;
  border-radius: 6px;
  background: white;
  overflow: hidden;
}
