// sidebar_left  => main menu
$mainMenuPadding: 12px;
$mainMenuWidth: 148px; // 左侧主菜单宽度
$mainMenuHeight: 40px; // 左侧主菜单高度
$mainMenuBgColor: #f8f8f8;

$mainMenuTextMarginLeft: 8px;
$mainMenuTextFontSize: 14px;
$mainMenuTextColor: #666;
$mainMenuTextColorActive: #fd5149;
$mainMenuTextColorHover: #f3f3f3;

$mainMenuIconFontSize: $mainMenuTextFontSize;
$mainMenuIconColor: #999;
$mainMenuIconColorActive: #fd5149;
$mainMenuIconColorHover: #fd5149;

// sidebar_right => sub  menu
$firstNavPadding: 24px;
$firstNavFontSize: 14px;
$firstNavColorHover: #409eff;

$subMenuPadding: 8px;
$subMenuWidth: 138px; // 左侧副树菜单宽度
$subMenuFontSize: 14px;
$subMenuBgColor: white;

$subMenuIconMarginRight: 6px;
$subMenuIconPadding: 2px;
$subMenuIconWidth: 12px;

$subMenuContentMargin: 5px;
$subMenuContentWidth: $subMenuWidth - $subMenuPadding * 2;
$subMenuContentHeight: 30px;
$subMenuContentColor: #666;
$subMenuContentColorHover: #448aff;
$subMenuContentColorActive: #666;
$subMenuContentBgColorActive: #f3f3f3;

// sidebar
$sidebarWidth: $mainMenuWidth + $subMenuWidth; // 左侧菜单总宽度
$sidebarZIndex: 2;

// navbar
$navbarHeight: 56px; // 顶部导航高度
$navbarZIndex: 3; // 顶部导航高度

// history bar
$historyBarHeight: 56px; // 顶部导航高度
$historyBarZIndex: $navbarZIndex - 1; // 顶部导航高度
$historyBarTextFontSize: 14px;
$historyBarContentHeight: 30px;
$historyBarContentColorHover: #448aff;
$historyBarContentColor: #666;
$historyBarContentColorActive: #666;
$historyBarContentBgColor: #f3f3f3;
$historyBarContentBgColorActive: #ecf5ff;

/////////////////////////////
$borderColor: #e8e8e8;
